* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  overflow: hidden !important;
}

html {
  font-size: 62.5%; // 16px * 62.5 = 10px
}

body {
  font-size: 1.4rem;
  color: $color-font;
  line-height: 1.5;
}

input {
  border: 1px solid $color-font;
  width: 90%;
  border-radius: .2rem;
  padding: .2rem;
}

.selected {
  color: $color-primary;
}

.not-selected {
  color: $color-black700;
}